* {
    padding: 0;
    margin: 0;
}


/* font settings */


@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Medium.ttf");
}

#Main {
    background: rgb(247 247 247);
    padding: 100px 50px
}

/* overlay background start here */


/* .background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 50px;
}

.background-image,
.background-overlay {
    position: absolute;
    inset: 0;
 
}

.background-image {
 
    background: url("./images/background-image.jpg") center center / cover no-repeat;
    z-index: 1;
}

.background-overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.background-content {
    position: relative;

    z-index: 3;
    color: white;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;

}

.background-content * {
    width: 40%;
}

.background-content>h1 {
    font-size: 50px;
    font-family: "POppins";
}

.background-content>p {
    font-size: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}


.background-content>button {
    width: auto;
    padding: 10px 20px;
    border-radius: 996px;
}  */


/* background section end here */



/* main headiing */


.heading {
    text-align: center;
    margin: 10px auto 100px;
    text-transform: uppercase;
    font-family: "Poppins";
    color: rgb(19, 55, 132);
    max-width: 500px;
    padding: 10px;
    border: 3px solid rgb(7, 30, 78);
    text-shadow: 2px 2px 0.5px rgb(62, 62, 128);
    font-weight: 200;
    box-shadow: 5px 5px 8px rgb(121, 121, 192)
}

/* section starts here */

section#Main .card-parent {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 60px;
    padding: 60px;
}




section#Main .card-parent .card img {
    width: 100%;
    max-width: 60%;
    margin-bottom: 25px;
}

section#Main .card-parent>.card {
    padding: 10px;
    text-align: center;
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
}

.card-container {
    text-align: center;
}

.card-container>h4 {
    margin: 0;
    margin-bottom: 20px;
    color: rgb(0, 60, 164);
    font-size: 30px;

}

.card-container>p {
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 60%;

}

.btn {
    padding: 10px 20px;
    border-radius: 996px;
    color: white;
    background-color: rgb(110, 156, 203);
}

.btn:hover {

    background-color: rgb(29, 29, 134);
}

.btn:active {
    opacity: 0.5;
}


/* section end here */


/* Review section start here */ 

#reviews {
    background-color: #f5f5f5;
    padding: 100px 50px;
}

#reviews .reviews-description {
    text-align: center;
}




#reviews .reviews-description>h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
}

#reviews .reviews-description>p {
    width: 40%;
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.4;
    margin-top: 30px;
}

#reviews .reviewcard-parent {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 30px;
}

#reviews .card {
    padding: 35px 25px 65px;
    background-color: #fff;
    box-shadow:
       9px 12px 14px 0 rgba(0,0,0,.1)
}



#reviews .card-image>img {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 30px;
}

#reviews .card>h4 {
    font-family: "Saira", sans-serif;
    font-size: 23px;
    font-weight: 600;
    padding: 10px 0px;
}

#reviews .card>span {
    display: block;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    padding: 10px 0;

}


#reviews .card>p {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

#reviews .review-images > img{
    width: 5%;

}

#reviews .review-images {
    padding: 20px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* review section end here







/* choose section start here */

#choose-section {
    padding: 50px;
    display:flex ;
}
.right-section , .left-section {
    width: 50%;
}

.left-section {
    padding: 50px 50px 0;
}

#choose-section .left-section > h5{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #8d0000  ;
    padding: 20px 0px;
}


#choose-section .left-section > h3{
    font-family: "Saira", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;

}

#choose-section .left-section > p{
    font-family: "Montserratrif";
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}

#choose-section .right-section {
    padding: 50px 50px 0px;
}

 #choose-section   .background{
   padding: 130px 50px;
  
    position: relative;
}

#choose-section   .background-image {
    position: absolute;
    inset:0;

    background: url("./images/testimonial-image-2.jpeg")  center / cover  no-repeat;
    z-index: 2;
} 


#choose-section   .black-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top:50%;
    z-index: 3;


}


#choose-section  .right-content {
    box-sizing: border-box;
    position: relative;
    top: 110px;
    padding: 30px 10px;
    z-index: 4;
    color:#fff;
}

#choose-section  .right-content > h3 {
    text-align: left !important;
    font-size:15px;
    margin-bottom: 30px;
}

#choose-section  .right-content > p {
    
    line-height: 17px;
    font-family: "saira";
    font-size: 15px;
}


