* {
    padding: 0;
    margin: 0;
}




/* navbar section start here */


#navbar-section {
    height: 300px;
}


#navbar-section .top-navbar {
    margin-top: 0;
    background: #f1f8fc;
    padding: 5px 0;
}

#navbar-section .top-nav-container {
    margin: 0 auto;
    padding: 5px;
    max-width: 1300px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

#navbar-section .location>p {
    padding: 10px;
    /* padding-right: 15px; */
    font-family: "Montserrat, sans-serif";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #323846;
}

#navbar-section .call-us :nth-child(2) {
    color: #323846;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 950;
    text-transform: uppercase;
    letter-spacing: 1px;
    gap: 50px;
}

#navbar-section .call-us {
    padding: 2px;
}

#navbar-section .call-us :nth-child(3) {
    color: rgb(50, 56, 70);
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
}


#navbar-section .bottom-navbar {
    background-color: #007dba;
    padding: 15px 120px;
}



#navbar-section .bottom-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#navbar-section .logo-image>img {
    width: 80%;
}

#navbar-section .links-container>li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
}

#navbar-section .links-container>li>a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Montserrat, sans-serif";
    text-transform: uppercase;
    color: #fff;
}


#navbar-section .question-btn>button {
    font-family: Montserrat, sans-serif;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

/* naVBAR SECTION ENDS HERE */


/* banner section start here */


#banner-section {
    height: 100vh;
    padding: 30px 0px 50px 120px;

}

#banner-section .banner-section-parent {
    display: flex;
    justify-content: space-between;
}

#banner-section .banner-left {
    width: 35%;
    padding: 30px 60px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#banner-section .banner-right {
    width: 45%;
    height: 90vh;
    background: url("images/gym-banner.jpg") right/cover no-repeat;
}

#banner-section .tag-line {
    font-size: 35px;
    font-weight: 700;
    font-family: "Open Sans", "sans-seri";
    line-height: 24px;
    color: rgb(17, 17, 17);
}

#banner-section .head-line {
    font-size: 35px;
    font-family: Roboto, sans-serif;
    line-height: 1.1;
    font-weight: 600;
    color: #e80913;
}

#banner-section .left-description {
    color: rgb(17, 17, 17);
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

#banner-section .banner-btn button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background-image: none;
    margin: 30px auto 0 0;
    padding: 15px 52px 17px 51px;
    background-color: #e80913;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#banner-section .reference {
    color: rgb(17, 17, 17);
    font-size: 16px;
    margin-top: 37px;
}

/* banner section edns hree */

/* red section start here */

#red-section {
    background-color: #e80913;
    height: 150px;
    padding: 30px 125px;
}


#red-section .red-cards-parent {
    display: flex;
    justify-content: space-between;
}

#red-section .red-transparent-card {
    padding: 50px 29px 20px;

}

#red-section .red-transparent-card>p {
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
}

#red-section .red-transparent-card>h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    font-family: Roboto, sans-serif;
    margin-top: 15px;
    text-transform: uppercase;

}

/* red section ends here */


/* main section start here   */

#Main {
    background: rgb(247 247 247);
    padding: 100px 50px
}

#Main .heading {
    text-align: center;
    margin: 10px auto 100px;
    text-transform: uppercase;
    font-family: "Poppins";
    color: rgb(19, 55, 132);
    max-width: 500px;
    padding: 10px;
    border: 3px solid rgb(7, 30, 78);
    text-shadow: 2px 2px 0.5px rgb(62, 62, 128);
    font-weight: 200;
    box-shadow: 5px 5px 8px rgb(121, 121, 192)
}


section#Main .card-parent {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 60px;
    padding: 0px 120px;
}




section#Main .card-parent .card img {
    width: 100%;
    max-width: 60%;
    margin-bottom: 25px;
}

section#Main .card-parent>.card {
    padding: 80px 15px;
    text-align: center;
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
}

.card-container {
    text-align: center;
}

.card-container>h4 {
    margin: 0;
    margin-bottom: 20px;
    color: rgb(0, 60, 164);
    font-size: 30px;

}

.card-container>p {
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.btn {
    padding: 10px 20px;
    border-radius: 996px;
    color: white;
    background-color: rgb(110, 156, 203);
}

.btn:hover {

    background-color: rgb(29, 29, 134);
}

.btn:active {
    opacity: 0.5;
}


/* section end here */

/* overlay background start here */
#background {
    position: relative;


    padding: 100px 50px;
}

#background .background-image,
.background-overlay {
    position: absolute;
    inset: 0;

}

#background .background-image {

    background: url("./images/background-image.jpg") center center / cover no-repeat;
    z-index: 1;
}

#background .background-overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#background .background-content {
    position: relative;

    z-index: 3;
    color: white;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;

}

#background .background-content * {
    width: 40%;
}

#background .background-content>h1 {
    font-size: 50px;
    font-family: "POppins";
}

#background .background-content>p {
    font-size: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}


#background .background-content>button {
    width: auto;
    padding: 10px 30px;
    border-radius: 996px;
    font-size: 20px;
}


/* background section end here */





/* Review section start here */

#reviews {
    background-color: #f5f5f5;
    padding: 100px 125px;
}

#reviews .reviews-description {
    text-align: center;
}




#reviews .reviews-description>h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
}

#reviews .reviews-description>p {
    width: 40%;
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.4;
    margin-top: 30px;
}

#reviews .reviewcard-parent {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 30px;
}

#reviews .card {
    padding: 35px 25px 65px;
    background-color: #fff;
    box-shadow:
        9px 12px 14px 0 rgba(0, 0, 0, .1)
}



#reviews .card-image>img {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 30px;
}

#reviews .card>h4 {
    font-family: "Saira", sans-serif;
    font-size: 23px;
    font-weight: 600;
    padding: 10px 0px;
}

#reviews .card>span {
    display: block;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    padding: 10px 0;

}


#reviews .card>p {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

#reviews .review-images>img {
    width: 5%;

}

#reviews .review-images {
    padding: 20px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* review section end here







/* choose section start here */

#choose-section {
    padding: 100px 120px;
    display: flex;
}

.right-section,
.left-section {
    width: 50%;
}

.left-section {
    padding: 50px 50px 0;
}

#choose-section .left-section>h5 {
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #8d0000;
    padding: 20px 0px;
}


#choose-section .left-section>h3 {
    font-family: "Saira", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;

}

#choose-section .left-section>p {
    font-family: "Montserratrif";
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}

#choose-section .right-section {
    padding: 50px 50px 0px;
}

#choose-section .background {
    padding: 130px 50px;

    position: relative;
}

#choose-section .background-image {
    position: absolute;
    inset: 0;

    background: url("./images/testimonial-image-2.jpeg") center / cover no-repeat;
    z-index: 2;
}


#choose-section .black-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: 50%;
    z-index: 3;


}


#choose-section .right-content {
    box-sizing: border-box;
    position: relative;
    top: 110px;
    padding: 30px 10px;
    z-index: 4;
    color: #fff;
}

#choose-section .right-content>h3 {
    text-align: left !important;
    font-size: 15px;
    margin-bottom: 30px;
}

#choose-section .right-content>p {

    line-height: 17px;
    font-family: "saira";
    font-size: 15px;
}

/* choose section end here */

/* mission section start here */

#mission-section {
    padding: 150px 120px;
    background-color: #f5f5f5;
    display: flex;

}

#mission-section .mission-left-description {
    padding: 30px;
}

#mission-section .mission-left-description>h5 {
    font-size: 25px;
    font-family: "Saira", Sans-serif;
    font-weight: 600;
    color: #8d0000;
    margin-bottom: 20px;
}

#mission-section .mission-left-description>h3 {
    font-size: 40px;
    margin-bottom: 20px;

}

#mission-section .mission-left-description>p {
    font-size: 21px;
    line-height: 1.8;
    font-family: "Montserrat", Sans-serif;
}

#mission-section .mission-left {
    padding: 50px;
}

#mission-section .mission-right {
    padding: 50px 130px;
}

/* mission section end here */


/* customer section start here */


#customers {
    padding: 150px 120px 50px;
}

#customers .heading {
    text-align: center;
    margin-bottom: 10px;
}

#customers .heading>h3 {
    font-family: "Saira", Sans-serif;
    font-weight: 600;
    font-size: 40px;
}


#customers span {
    display: flex;
    align-items: center;
    font-size: 40px;

}

#customers .customers-images {
    padding: 50px;
}


#customers .customer-cards-parent {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#customers .customer-card>img {
    width: 100%;
}



/* gym section start here */

#gym-section {
    height: 100vh;
    background: url(./images/gym-bg.jpg);
    padding: 150px 120px;
}

#gym-section .left-gym-section {
    padding: 10px 70px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#gym-section .right-gym-section {
    width: 40%;
}

#gym-section .left-container {
    width: 60%;
}


#gym-section .left-heading {
    width: 100%;

}

#gym-section .left-heading>h1 {

    font-size: 70px;
    background-color: #fff;
    padding: 50px 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;

}


#gym-section .left-para {
    margin: 50px 0px;
}

#gym-section .left-para>p {

    color: #fff;
    font-size: 27px;
    line-height: 40px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;

}

#gym-section .reference {
    color: #fff;
    font-size: 20px;
    margin: 30px 0px;
}

#gym-section .reference span {
    text-decoration: underline;
}

#gym-section .left-btn>button {
    padding: 25px 50PX;
    background-color: #e80913;
    font-size: 20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: transparent;

}


/* Gym section ends here */


/* Training section start here */

#training-section {
    height: 100vh;
    padding: 100px 120px;
}

#training-section .training-section-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#training-section .left-container {
    width: 50%;
    padding: 20px;

}

#training-section .right-container {
    width: 50%;

}

#training-section .training-heading>h3 {
    font-size: 60px;
    font-family: "Roboto", "sans-serif";
    font-weight: 550;
    line-height: 1.2;
    margin: 30px 10px 50px;

}

#training-section .training-type1-heading>h4,
#training-section .training-type2-heading>h4,
#training-section .training-type3-heading>h4 {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #111111;
    margin: 40px 10px;
}

#training-section .training-type1-description>p,
#training-section .training-type2-description>p,
#training-section .training-type3-description>p {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #999999 !important;
}

.right-child1 {
    margin-bottom: 20px;
}

.right-child1>img {
    width: 100%;
}

.right-child2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.right-child2 img {
    width: 100%;
}

/* Training section ends here */

#running-section {
    padding: 100px 120px;

}


#running-section .running-heading>h1 {
    text-align: center;
    font-size: 75px;
    line-height: 1.1;
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    color: #252424;
}

#running-section .running-benefits {
    padding: 200px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
}

#running-section .left-benefits {
    width: 50%;
}

#running-section .right-bernefits {
    width: 50%;
}

#running-section .left-benefits-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

#running-section .left-benefits-image1 {
    width: 50%;
    height: 50%;
}

#running-section .left-benefits-description1 {
    width: 50%;
}

#running-section .left-benefits-image1>img {
    width: 90%;
    border-radius: 50%;
}

#running-section .left-benefits-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;

}

#running-section .left-benefits-image2 {
    width: 300px;
    height: 300px;

}

#running-section .left-benefits-description2 {
    width: 50%;
}

#running-section .left-benefits-image2>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

#running-section .right-benefits-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
    margin-bottom: 50px;

}

#running-section .right-benefits-image1 {
    width: 50%;
    height: 50%;
}

#running-section .right-benefits-description1 {
    width: 50%;
}

#running-section .right-benefits-image1>img {
    width: 90%;
    border-radius: 50%;

}

#running-section .right-benefits-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;

}

#running-section .right-benefits-image2 {
    width: 50%;
    height: 50%;
}

#running-section .right-benefits-description2 {
    width: 50%;
}

#running-section .right-benefits-image2>img {
    width: 90%;
    border-radius: 50%;

}

#running-section h5 {
    font-size: 34px;
    font-family: 'Open Sans', "sans-serif";
    color: #FFF;
    line-height: 29px;
    font-weight: 600;
    text-transform: uppercase;
}

#running-section p {
    font-size: 26px;
    font-family: 'Open Sans', "sans-serif";
    font-style: italic;
    margin-top: 20px;
    line-height: 1.8;
}

/* footer section start here */

#footer-section {
    background-color: #323846;
    padding: 115px 120px;
}

#footer-section .footer-section-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-section .footer-logo  > img{
    width: 70% !important;
    margin-bottom: 15px;
}

.contact *  {
    color: #FFF;
    margin-top: 15px;
}


#footer-section .footer-heading > h4{
    text-transform: uppercase;
    font-size: 20px;
    color: #007dba;
    margin-bottom: 15px;
} 


#footer-section .fotter-links > a {
    display:block;
    margin-top: 15px;
    text-decoration: none;
    color:#fff;
    font-size: 15px;
 }
