*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #d6d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.card {
    border-radius: 10%;
    background-color: white;
    padding: 15px;
    text-align: center;
}


.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.heading {
    margin: 0;
    color: #3a556b;
    margin: 10px 0px 10px;
}

.title {
    margin: 0px 0 15px;
    color: rgb(57, 57, 129);
}

.btn {
    padding: 10px;
    border-radius: 996px;
    background-color: rgb(31, 31, 123);
    color: white;
}











/* 
#flexr .parentflex {
    width: 1140px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 182px;
} */